modules = ["nodejs-20", "bash"]

[agent]
stack = "AGENT_STACK"
integrations = ["agentstack-trigger-time_based:1.0.0", "perplexity_v0:1.0.0", "javascript_openai:1.0.0"]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["jq", "glib", "gtk3", "xvfb-run", "chromium"]

[deployment]
build = ["bash", "scripts/build.sh"]
run = ["npm", "run", "dev"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 3000
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 42427
externalPort = 3002

[[ports]]
localPort = 50052
externalPort = 3003

[[ports]]
localPort = 50053
externalPort = 3001

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start inngest server"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx mastra dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Start inngest server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./scripts/inngest.sh"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "automations"
